.App {
  text-align: center; 

}

body{

  background-color: rgb(239, 237, 235);

}
h1{

  color: blue;
}
img{
border-radius: 20%;

}
p{
  color: brown;
}
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #344c67;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
